*{
    padding: 0;
    margin: 0;
}

footer {
    background-color: #333;
    color: #ccc;
    padding: 40px 20px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-column {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}
.footer-column h3 {
    color: white;
    margin-bottom: 15px;
}
.footer-column a {
    color: #f68e3c;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    transition: color 0.3s;
}
.footer-column a:hover {
    color: #fff;
}
.footer-column p {
    margin: 5px 0;
}
.whatsapp-icon {
    color: green;
    margin-left: 5px;
}
.footer-logos img {
    max-width: 100px;
    margin: 10px 20px 10px 0;
}
.float-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2979ff;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-decoration: none;
}
.float-button img {
    height: 30px;
    margin-right: 10px;
}
.footer-bottom {
    text-align: center;
    margin-top: 30px;
    color: #ccc;
    font-size: 0.9rem;
}